<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matteoveroni.wordsremember">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WordsRemember"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".persistency.providers.DictionaryProvider"
            android:authorities="com.matteoveroni.wordsremember.persistency.providers"
            android:exported="false" />

        <receiver
            android:name=".notifications.DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main_menu.MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".quizgame.view.QuizGameActivity"
            android:label="@string/quiz_game"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".settings.view.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".dictionary.view.activities.ManageVocablesActivityView"
            android:label="@string/vocables_manager"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".dictionary.view.activities.EditVocableActivityView"
            android:label="@string/vocable_editor"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".dictionary.view.activities.AddTranslationActivity"
            android:label="@string/add_translation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".dictionary.view.activities.EditTranslationActivity"
            android:label="@string/edit_translation"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>